<table class="table">
    <tr>
        <th>Ville</th>
        <th>Cinema</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for city in citys %}

        <tr>
            <td>
                {{ city.name|raw }}
            </td>
            <td>
                {% for cinema in city.cinemas %}
                    {{ Html.link(cinema.name, '/cinema/' ~ '/' ~ cinema.id)|raw }} <br>
                {% endfor %}
            </td>
            <td>
                {{ Html.link('Edit','/ville/editer/' ~ city.id)|raw }}
            </td>
            <td>
                {{ Html.link('Delete', {'controller':'Citys', 'action': 'delete' ~ '/' ~ city.id})|raw }}
            </td>
        </tr>

    {% endfor %}
</table>
